#actions {height:54px;}
.tbl_subscribers{margin-top:15px}
button {width: auto;}
.btn-warning,.btn-success,.btn-danger,.btn-info {color:#ffffff !important;}
.btn-default {color:#666 !important;}
.floatright {float:right}
.btn.round-corners {border-radius:50%;padding:5px;height: 32px;width:32px}
.even {background-color:#ffffff}